table.playing-board {
  border-collapse: collapse;

  td {
    border: 2px solid #226622;
    background-color: #008F00;
    font-size: 28px;
    cursor: default;

    &.board-selected {
      background-color: #B9C900;
    }
    &.board-blank::after{
      content:"　";
    }
    &.board-black{
      color: black;
    }
    &.board-white{
      color: white;
    }
  }
}

ul.playing-log{
  line-height: 1.2;
}
